*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding:0;
}


/* Banner related style */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("/images/grp1.png");
    max-width: 80%;
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    margin:50px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.banner-title{
    color:white;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 40px 0px 20px 0px;
}
.banner-msg{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-input{
    text-align: center;
    width:80%;
    padding: 20px 10px;
    background-color: #ffffff54;
    margin: 0px auto;
    border-radius: 10px;
}
.banner-input input,select,button{
    width: 160px;
    padding: 15px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
    color: grey;
}
.primary-btn{
    background-color: #FF5400;
    color:white;
    cursor: pointer;
}
.fa-search{
    padding-right: 10px;
}

/* Popular trips related style */
.popular-trips{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto; 
    display: flex;
    gap:50px;
}

.popular-trips-heading{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.popular-trips-msg , .popular-trips-information>ul>li{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color:grey;
}
.popular-trips-information>ul>li{
    margin-left:20px;
}
.popular-trips-information>button{
    margin-left:0;
}

.popular-trips-image img{
            height:100%;
}

/* Choose your destination related style */
.destination , .why-choose-us , .newslatter-container{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto;
}
.destination-info-heading , .choose-us-heading{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.destination-info-msg , .choose-us-msg{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color:grey;
    text-align: center;
}
.destination-images img{
    width:100%;
    height:100%;
}

#maldives{
    grid-area: maldives;
}
#indonesia{
    grid-area: indonesia;
}
#srilanka{
    grid-area: srilanka;
}
#america{
    grid-area: america;
}
#kashmir{
    grid-area: kashmir;
}
#bangladesh{
    grid-area: bangladesh;
}
#bandarban{
    grid-area:bandarban;
}

.destination-images{
    display: grid;
    grid-gap:8px;
    grid-template-areas: "maldives  maldives  maldives  maldives maldives   indonesia indonesia indonesia indonesia  indonesia"
                            "srilanka srilanka srilanka    america  america  america  america  kashmir kashmir kashmir"
                            "bangladesh bangladesh bangladesh bangladesh bandarban   bandarban   bandarban bandarban   bandarban   bandarban";
}

/* Why Choose us related style  */
.choose-us-first-row ,.newslatter-container{
    display: flex;
    gap:30px;
}
.choose-us-second-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-box , .third-box{
    background-color: rgb(250, 228, 200);
    border:1px solid rgb(255, 214, 160);
    padding: 40px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.second-box{
    background-color: rgb(162, 207, 224);
    border:1px solid rgb(102, 197, 231);
    padding: 40px 50px;
    border-radius: 10px;
    margin-bottom: 30px;
}
.first-box img, .second-box img, .third-box img{
    margin-bottom: 16px
}
.first-box h4, .second-box h4, .third-box h4{
    margin-bottom: 10px;
    font-size: 1.5rem;
}
.first-box p, .second-box p, .third-box p{
    color:#5A5A5D;
    font-size: 0.9rem;
}

/* newslatter related style */

.newslatter{
    border:1px solid rgb(241, 69, 6);
    border-radius: 16px;
}
.newslatter-heading{
    font-size: 2rem;
    font-weight: 800;
    padding: 30px;
}
.newslatter-msg{
    font-size: .9rem;
    font-weight: 400;
    color:grey;
    padding: 0px 30px 30px 30px;
}
.newslatter hr{
    margin-right:30px;
    margin-left:30px;
    color:rgb(153, 151, 151);  
}
.newlatter-input{
    margin: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.newlatter-input input{
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(235, 233, 233);
    color:grey;
}
.newlatter-input .subscribe{
    background-color: #FF5400;
    color:#FFF;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
}
.newlatter-image{
    position:relative;
    width:100%;
}
.off{
    background-color: #FF5400;
    color:white;
    width: 50%;
    height:22%;
    border-radius: 12px;
    position:absolute;
    top:216px;
    right:52px;
    transform: rotate(-44deg);
}
.off h4{
    text-align: center;
    padding-top:1rem;
}
.off h2{
    text-align: center;
    font-weight: 900;
    font-size: 2rem;
    padding: 5px 15px 20px 15px;
}

/* footer related style */
.footer{
    background-color: rgb(248, 242, 234);
}
.footer-container{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto 0px;
}
.contact{
    margin:30px auto;
    text-align: center;
}
.contact-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top:50px;
}
.contact-heading h2{
    font-size: 2.5rem;
    margin-left:20px;
    font-weight:900;
}
.contact-heading h2 strong{
    color:#FF5400;
    font-weight: 900;
}
.contact p{
    color:grey;
    font-size: 1rem;
    margin-top:20px;
    margin-bottom:10px;
    font-weight: 700;
}
.footer-icon i{
    padding:20px;
    font-size: 1.6rem;
    cursor: pointer;
}
.contact hr{
    margin-top:30px
}
.copyright{
   padding-top: 60px;
}

.container-customer{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto 0px;
}
.customer-review{
    display: flex;
    gap:30px;
    flex:1;
}
.customer-review img{
    width:100%;
    border-radius: 30px;
}

.review-heading{
    font-weight: 800;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom:30px;
}
/* Mobile responsive */
@media screen and (max-width:600px){
    .banner-title{
        font-size: 2rem;
    }
    .banner-msg{
        font-size: 0.9rem;
        margin: 0px 20px;
    }
    .popular-trips-heading ,.destination-info-heading , .choose-us-heading{
        font-size: 2rem;
    }
    .popular-trips{
        flex-direction: column;
    }
    .popular-trips-image img{
        width:100%;
    }
    .destination-images{
        grid-template-areas:    "maldives"
                                "indonesia"
                                "srilanka"
                                "america"
                                "kashmir"
                                "bangladesh"
                                "bandarban";
    }

    .choose-us-first-row{
        flex-direction: column;
        grid-gap:0;
    }

    .first-box ,.second-box, .third-box{
        padding:20px;
        margin-bottom: 20px;
    }

    .newslatter-container{
        flex-direction: column;
    }
    .newlatter-image img{
        width:100%;
    }
    .off{ 
        width: 50%;
        height:30%;
        top:105px;
        right:-6px;
        border-radius: 10px;}
    .off h4{
        
            padding-top:.6rem;
        }
    .off h2{
            font-size: .9rem;
        }
        .customer-review{
            flex-direction: column;
        }
}
