*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Mulish', sans-serif;
    margin:0;
    padding:0;
}


/* Banner related style */
.banner{
    background-image:linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)),url("/images/grp1.png");
    max-width: 80%;
    min-height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    margin:50px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.banner-title{
    color:white;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding: 40px 0px 20px 0px;
}
.banner-msg{
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-input{
    text-align: center;
    width:80%;
    padding: 20px 10px;
    background-color: #ffffff54;
    margin: 0px auto;
    border-radius: 10px;
}
.banner-input input,select,button{
    width: 160px;
    padding: 15px 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
    color: grey;
}
.primary-btn{
    background-color: #FF5400;
    color:white;
    cursor: pointer;
}
.fa-search{
    padding-right: 10px;
}

/* Popular trips related style */
.popular-trips{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto; 
    display: flex;
    gap:50px;
}

.popular-trips-heading{
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 30px;
}
.popular-trips-msg , .popular-trips-information>ul>li{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color:grey;
}
.popular-trips-information>ul>li{
    margin-left:20px;
}
.popular-trips-information>button{
    margin-left:0;
}

.popular-trips-image img{
            height:100%;
}

/* Choose your destination related style */
.destination{
    max-width: 80%;
    min-height: 60vh;
    border-radius: 14px;
    margin:80px auto;
}
.destination-info-heading{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 16px;
}
.destination-info-msg{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    color:grey;
    text-align: center;
}
.destination-images img{
    width:100%;
    height:100%;
}

#maldives{
    grid-area: maldives;
}
#indonesia{
    grid-area: indonesia;
}
#srilanka{
    grid-area: srilanka;
}
#america{
    grid-area: america;
}
#kashmir{
    grid-area: kashmir;
}
#bangladesh{
    grid-area: bangladesh;
}
#bandarban{
    grid-area:bandarban;
}

.destination-images{
    display: grid;
    grid-gap:8px;
    grid-template-areas: "maldives  maldives  maldives  maldives maldives   indonesia indonesia indonesia indonesia  indonesia"
                            "srilanka srilanka srilanka    america  america  america  america  kashmir kashmir kashmir"
                            "bangladesh bangladesh bangladesh bangladesh bandarban   bandarban   bandarban bandarban   bandarban   bandarban";
}


@media screen and (max-width:600px){
    .banner-title{
        font-size: 2rem;
    }
    .banner-msg{
        font-size: 0.9rem;
        margin: 0px 20px;
    }
    .popular-trips-heading ,.destination-info-heading{
        font-size: 2rem;
    }
    .popular-trips{
        flex-direction: column;
    }
    .popular-trips-image img{
        width:100%;
    }
    .destination-images{
        grid-template-areas:    "maldives"
                                "indonesia"
                                "srilanka"
                                "america"
                                "kashmir"
                                "bangladesh"
                                "bandarban";
    }

}